---
layout: archive
title: "publications"
permalink: /publications/
author_profile: false
---
{% comment %}
  Publications grouped by year, al-folio style.
  Each publication is a file in _publications/. Add "selected: true" to a file
  to feature it on the home page.
{% endcomment %}
{% include base_path %}

{% if site.author.googlescholar %}
  <p>You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</p>
{% endif %}

{% assign pubs = site.publications | sort: "date" | reverse %}
{% assign current_year = "" %}
{% for pub in pubs %}
  {% assign year = pub.date | date: "%Y" %}
  {% if year != current_year %}
    {% unless forloop.first %}</ol>{% endunless %}
    <h2 class="pub-year">{{ year }}</h2>
    <ol class="bibliography">
    {% assign current_year = year %}
  {% endif %}
  {% include publication-item.html pub=pub %}
  {% if forloop.last %}</ol>{% endif %}
{% endfor %}
